{extend name="public/base" /}
{block name='content'}
{include file='public/content_header' /}
<!--数据列表页面-->
<section class="content">

    <!--顶部搜索筛选-->
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <form class="form-inline searchForm" id="searchForm" action="{:url('index')}" method="GET">

                        <div class="form-group">
                            <input id="_keywords" value="{$_keywords ? $_keywords : '' ;}"
                                   name="_keywords" id="_keywords" class="form-control"
                                   placeholder="ID/名字/账号/代理">
                        </div>

                        <div class="form-group">
                            <select name="serverid" id="serverid" class="form-control index-order">
                                <option value="">选择大区</option>
                                {foreach $serv_list as $key => $item}
                                <option value="{$item.sid}">{$item.name}</option>
                                {/foreach}
                            </select>
                        </div>

                        <div class="form-group">
                            <select name="special_create_time" id="special_create_time"
                                    class="form-control index-order">
                                <option value="">选择创建时间</option>
                                <option value="d" {if isset($special_create_time)&&
                                        $special_create_time=='d'}selected{/if}>今天
                                </option>
                                <option value="yesterday" {if isset($special_create_time)&&
                                        $special_create_time=='yesterday'}selected{/if}>昨天
                                </option>
                                <option value="w" {if isset($special_create_time)&&
                                        $special_create_time=='w'}selected{/if}>本周
                                </option>
                                <option value="last week"
                                        {if isset($special_create_time)&& $special_create_time=='last week
                                '}selected{
                                /if}>上周</option>
                                <option value="m" {if isset($special_create_time)&&
                                        $special_create_time=='m'}selected{/if}>本月
                                </option>
                                <option value="last month" {if isset($special_create_time)&&
                                        $special_create_time=='last month
                                '}selected{/if}>上月
                                </option>
                                <option value="y" {if isset($special_create_time)&&
                                        $special_create_time=='y'}selected{/if}>今年
                                </option>

                            </select>
                        </div>

                        <div class="form-group">
                            <input readonly value="{$create_time ?? '' ;}"
                                   name="create_time" id="create_time" class="form-control indexSearchDatetimeRange"
                                   placeholder="创建时间">
                        </div>
                        <script>
                            laydate.render({
                                elem: '#create_time'
                                , range: true
                                , type: 'datetime'
                            });
                        </script>

                        <div class="form-group">
                            <input readonly value="{$lastonline ?? '' ;}"
                                   name="lastonline" id="lastonline" class="form-control indexSearchDatetimeRange"
                                   placeholder="最后在线时间">
                        </div>
                        <script>
                            laydate.render({
                                elem: '#lastonline'
                                , range: true
                                , type: 'datetime'
                            });
                        </script>


                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                            </button>
                        </div>
                        <div class="form-group">
                            <button onclick="clearSearchForm()" class="btn btn-sm btn-default" type="button"><i
                                    class="fa  fa-eraser"></i> 清空查询
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">

                <!--数据列表顶部-->
                <div class="box-header">
                    <div>

                        <a class="btn btn-success btn-sm ReloadButton" data-toggle="tooltip" title="刷新">
                            <i class="fa fa-refresh"></i> 刷新
                        </a>
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <table class="table table-hover table-bordered datatable" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>账号</th>
                            <th>所属代理</th>
                            <th>大区</th>
                            <th>角色名称</th>
                            <th>种族</th>
                            <th>性别</th>
                            <th>转生</th>
                            <th>等级</th>
                            <th>经验</th>
                            <th>金钱</th>
                            <th>仙玉</th>
                            <th>修炼等级</th>
                            <th>创建时间</th>
                            <th>最后在线时间</th>
                            <th>状态</th>
                            {if $is_welfare == 1 || $user_role != 2}
                            <th>操作</th>
                            {/if}
                        </tr>
                        </thead>
                        <tbody>
                        {foreach name='data' id='item' key='data_key'}
                        <tr>
                            <td>{$item.roleid|default=''}</td>
                            <td>{$item.account|default=''}</td>
                            <td>{$item.username|default=''}</td>
                            <td>{$serv_list[$item.serverid]?$serv_list[$item.serverid]['name']:$item.serverid}</td>
                            <td>{$item.name}</td>
                            <td>{$item.race}</td>
                            <td>{$item.sex}</td>
                            <td>{$item.relive}</td>
                            <td>{$item.level}</td>
                            <td>{$item.exp}</td>
                            <td>{$item.money}</td>
                            <td>{$item.jade}</td>
                            <td>{$item.xiulevel}</td>
                            <td>{$item.create_time}</td>
                            <td>{$item.lastonline}</td>
                            <td>{$item.state ? "<span class='label label-danger'>禁用</span>" : "<span
                                    class='label label-success'>正常</span>"}
                            </td>
                            <td>
                                <a href="{:url('game_gm/recharge',['id'=>$item.roleid])}"
                                   class="btn btn-success btn-xs " title="仙玉充值" data-toggle="tooltip">
                                    <i class="fa fa-usd"></i>
                                </a>

                                {if $user_role == 2 && $is_welfare == 1}
                                <a class="btn btn-success btn-xs AjaxButton" data-toggle="tooltip" title="发送福利"
                                   data-id="{$item.roleid}" data-url="{:url('agentWelfare')}">
                                    <i class="fa fa-send"></i>
                                </a>
                                {/if}

                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>

                <!-- 数据列表底部 -->
                <div class="box-footer">
                    {$page|raw}
                    <label class="control-label pull-right" style="margin-right: 10px; font-weight: 100;">
                        <small>共{$total}条记录</small>&nbsp;
                        <small>每页显示</small>
                        &nbsp;
                        <select class="input-sm" onchange="changePerPage(this)">
                            <option value="10" {if $admin.per_page==10}selected{/if}>10</option>
                            <option value="20" {if $admin.per_page==20}selected{/if}>20</option>
                            <option value="30" {if $admin.per_page==30}selected{/if}>30</option>
                            <option value="50" {if $admin.per_page==50}selected{/if}>50</option>
                            <option value="100" {if $admin.per_page==100}selected{/if}>100</option>
                        </select>
                        &nbsp;
                        <small>条记录</small>
                    </label>
                </div>

            </div>
        </div>
    </div>
</section>

{/block}

